name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust@v1
        with:
          rust-version: 1.70
      - name: Check MSRV
        run: cargo check --all-targets --all-features
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust@v1
      with:
        components: rustfmt, clippy
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Format
      run: cargo fmt --check --verbose
    - name: Linting
      run: cargo clippy --all-targets --all-features --workspace
    - name: Test
      run: cargo test --verbose --all-targets --all-features --workspace
    - name: Coverage
      run: |
        cargo install cargo-tarpaulin
        cargo tarpaulin --out Xml --output-dir coverage -- --all-targets --all-features --workspace
    - name: Upload Coverage
      uses: codecov/codecov-action@v4
      with:
        file: coverage/cobertura.xml
        flags: unittests
        name: codecov-umbrella
    - name: Docs
      run: cargo doc --no-deps --document-private-items
    - name: Security Scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'fs'
        scan-ref: '.'
        format: 'sarif'
        output: 'trivy-results.sarif'
    - name: Upload Trivy Results
      uses: github/codeql-action/upload-sarif@v3
      if: always()
      with:
        sarif_file: 'trivy-results.sarif'
    - name: Build
      run: cargo build --verbose
    - name: Lint YAML
      run: |
        pip install yamllint
        yamllint .github/workflows/*.yml
    - name: Lint Markdown
      run: |
        npm install -g markdownlint-cli
        markdownlint "*.md"
    - name: Lint Shell Scripts
      run: |
        sudo apt update && sudo apt install -y shellcheck
        find . -name "*.sh" -exec shellcheck {} \;
    - name: Test on dataset
      run: |
        cargo install --path .
        wget https://vision.in.tum.de/tumvi/exported/euroc/1024_16/dataset-calib-cam1_1024_16.tar --no-check-certificate
        tar xf dataset-calib-cam1_1024_16.tar
        ccrs dataset-calib-cam1_1024_16
