name: Basic check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Format
      run: cargo fmt --check --verbose
    - name: Linting
      run: cargo clippy
    - name: Test
      run: cargo test --verbose
    - name: Build
      run: cargo build --verbose
    - name: Test on dataset
      run:
        cargo install --path .
        wget https://vision.in.tum.de/tumvi/exported/euroc/1024_16/dataset-calib-cam1_1024_16.tar --no-check-certificate
        tar xf dataset-calib-cam1_1024_16.tar
        ccrs dataset-calib-cam1_1024_16
